version: '3'

services:

  mattermost_db:
    hostname: "db.mattermost.local"
    container_name: "mattermost_db"
    build: db
    restart: unless-stopped
    volumes:
      - ./volumes/db/var/lib/postgresql/data:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    networks:
      mattermost_network:
        ipv4_address: 172.22.2.4

  mattermost_app:
    hostname: "app.mattermost.local"
    container_name: "mattermost_app"
    build:
      context: app
      # comment out 2 following lines for team edition
      # args:
      #   - edition=team
    restart: unless-stopped
    links:
      - mattermost_db:db
    volumes:
      - ./volumes/app/mattermost/config:/mattermost/config:rw
      - ./volumes/app/mattermost/data:/mattermost/data:rw
      - ./volumes/app/mattermost/logs:/mattermost/logs:rw
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    networks:
      mattermost_network:
        ipv4_address: 172.22.2.3

  mattermost_web_front:
    hostname: "mattermost.local"
    container_name: "mattermost_web_front"
    build: web
    ports:
      - "80:80"
      - "443:443"
    links:
      - mattermost_app:app
    restart: unless-stopped
    volumes:
      # This directory must have cert files if you want to enable SSL
      - ./volumes/web/cert:/cert:ro
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    networks:
      mattermost_network:
        ipv4_address: 172.22.2.2

networks:
  mattermost_network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.22.2.0/24
        # subnet / submask 255.255.255.0 ~ /24 => 255 -2 host